header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 8px;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px 0 15px;
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20em;
}

#title-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;

}
