header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  border-bottom: 2px solid lightgrey;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px 0 15px;


}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
