header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  background-color: #20283e;
  color: #fff;
  margin-bottom: 8px;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px 0 15px;
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20em;
}

#title-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;

}

#my-button {
  background-color: #20283e;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
