.table {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.table-pages {
  width: 100%;
  height: 10%;
}

.main-column {
  width: auto;
  height: 53px;
  min-width: 50px;
}

.links-header {
  min-width: 103px;
  width: 103px;
  right: 0;
}

#links-header {
  border: none;
  border-left: 0.5px solid #454d55;
  height: 53px;
}

#logo {
  border-right-style: none;
}

.links-data {
  position: relative;
  width: 100%;
  right: 0;
}

.links-column {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 103px;
  right: 0;
  min-width: 100px;
  background-color: #20283e;
}

.employee-links {
  height: 50.5px;
}

.company-links {
  height: 90px;
}

.links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.table-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
}

.add-button-container {
  width: 95%;
}

#outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 95%;
  min-width: 95%;
}

#inner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.company-tr {
  height: 90px;
}

#empty {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  border: 0px;
  padding: 0px;
}

.card, .card-body {
  border-radius: 10px;
  overflow: hidden;
}

table {
  border-top: hidden;
}

#table-links {
  border-top: 2px solid #454d55;
}

html, body {
  max-width: 100%;
}

body {
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  letter-spacing: 0.4px;
  line-height: 1.42857143;
}
body h1 h2 {
  font-weight: 600;
}
body p {
  font-weight: 400;
}
body a {
  text-decoration: none;
  color: inherit;
}
body a:hover {
  color: inherit;
  text-decoration: underline;
}

#wrapper {
  display: block;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  pointer-events: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  min-height: 85vh;
}

#content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#sidebar-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 85vh;
  width: 20%;
}

#content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 85vh;
  padding: 0;
}

.text-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25em;
  height: 3em;
  border: 1px solid lightgrey;
  margin: 0;
  padding: 0 15px 0 15px;
}

#access-site {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35rem;
  height: 5rem;
}
#access-site a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#home-container h1 {
  width: 100%;
  text-align: center;
}

.home-button {
  display: flex;
  width: 40%;
  height: 4rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  background-color: #20283e;
  color: #fff;
  margin-bottom: 8px;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px 0 15px;
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20em;
}

#title-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
}

#my-button {
  background-color: #20283e;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

#my-menu {
  height: 100vh;
  overflow-y: hidden;
  background-color: #20283e;
  color: #fff;
}

#sidenav-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 8px;
}
#sidenav-content h1 {
  font-size: 25px;
  text-align: left;
  text-decoration: underline;
}

#sidenav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0;
}
#sidenav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 4em;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
#sidenav-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
}
#sidenav-links li a i {
  margin-right: 5px;
}
#sidenav-links li:hover {
  color: #20283e;
  background-color: #fff;
}

#menu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

#company-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#company-inner {
  display: flex;
  width: 95%;
  height: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid lightgrey;
}
#company-inner a {
  cursor: pointer;
}

.company-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.logo-input {
  height: 8em;
}

.information-input {
  height: 3em;
  margin-bottom: 15px;
}

.company-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  height: 3em;
  margin: 0;
  margin-right: 20px;
}

#show-buttons {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.show-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  margin-right: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-group img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.form-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: auto;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: auto;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.form-button a {
  margin-right: 20px;
}
