.table {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.sort-link {
  color: #fff;
  font-size: 15px;
  text-decoration: none !important;
}

.table-pages {
  width: 100%;
  height: 10%;
}

.main-column {
  width: auto;
  height: 53px;
  min-width: 50px;
}

.links-header {
  min-width: 103px;
  width: 103px;
  right: 0;
}

#links-header {
  border: none;
  border-left: 0.5px solid #454d55;
  height: 53px;
}

#logo {
  border-right-style: none;
}

.links-data {
  position: relative;
  width: 100%;
  right: 0;
}

.links-column {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 103px;
  right: 0;
  min-width: 100px;
  background-color: #20283e;
}

.employee-links {
  height: 65px;
}

.company-links {
  height: 90px;
}

.links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.table-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
}

#outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 95%;
  height: 100%;
  min-width: 95%;
  margin-bottom: 5px;
}

#inner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.company-tr {
  height: 90px;
}

.employee-tr {
  height: 65px;
}

#empty {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  border: 0px;
  padding: 0px;
}

.card, .card-body {
  border-radius: 5px;
  overflow: hidden;
}

table {
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
}

#table-links {
  border-top: 2px solid #454d55;
  border-right: hidden;
}

#table-search-link {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

#search-container {
  width: 13rem;
}

.top-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

#search-input {
  width: 10rem;
  border: 2px solid #454d55;
}

#search-button {
  color: #fff;
  width: 45px;
  height: 100%;
  background-color: #454d55;
  border-radius: 5px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  letter-spacing: 0.4px;
  line-height: 1.42857143;
}
body h1 h2 {
  font-weight: 600;
}
body p {
  font-weight: 400;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}

#wrapper {
  display: block;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  pointer-events: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  min-height: 85vh;
}

#content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#sidebar-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 85vh;
  width: 20%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 85vh;
  padding: 0;
}

.text-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25em;
  height: 3em;
  border: 1px solid lightgrey;
  margin: 0;
  padding: 0 15px 0 15px;
}

#access-site {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35rem;
  height: 5rem;
}
#access-site a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#home-container h1 {
  width: 100%;
  text-align: center;
}

.home-button {
  display: flex;
  width: 40%;
  height: 4rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  max-width: 100%;
  background-color: #20283e;
  color: #fff;
  margin-bottom: 8px;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 95%;
  min-width: 95%;
}

#header-inner {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
}
#header-inner h1 {
  font-size: 25px;
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20em;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}
#header-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  width: 40%;
  height: 100%;
}

#title-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
}

.menu-btn {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #20283e;
  border: 3px solid #fff;
  top: 20%;
  color: #fff;
  z-index: 9999;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  top: 50%;
}
.menu-btn i {
  font-size: 25px;
}
.menu-btn span {
  font-size: 10px;
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  #header-inner h1 {
    font-size: 32px;
  }

  .menu-btn {
    top: 20%;
    width: 70px;
    height: 70px;
  }
  .menu-btn i {
    font-size: 40px;
  }
  .menu-btn span {
    font-size: 15px;
    font-weight: 600;
  }
}
.menu-btn:hover {
  color: #20283e;
  background-color: #fff;
}

#sidenav {
  height: 100vh;
  overflow-y: hidden;
  background-color: #20283e;
  color: #fff;
}

#sidenav-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#sidenav-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 8px;
}
#sidenav-content h1 {
  font-size: 25px;
  text-align: left;
  text-decoration: underline;
}

#sidenav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0;
}
#sidenav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 4em;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
#sidenav-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
}
#sidenav-links li a i {
  margin-right: 5px;
}
#sidenav-links li:hover {
  color: #20283e;
  background-color: #fff;
}

#menu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  color: #fff;
}

#company-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#company-inner {
  display: flex;
  width: 95%;
  height: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 0;
}
#company-inner a {
  cursor: pointer;
}

#info-section {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.company-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.logo-input {
  height: 8em;
  width: 100%;
}

.information-input {
  height: 3em;
  margin-bottom: 10px;
}

.company-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 5rem;
  min-width: 5rem;
  height: 3em;
  margin: 0;
  margin-right: 10px;
}

#show-buttons {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.show-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  margin-right: 15px;
}

.text-input {
  width: 100%;
  font-size: 11px;
}

@media only screen and (min-width: 1100px) {
  #company-inner {
    flex-direction: row;
  }

  #info-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .company-details {
    width: 42%;
  }

  .text-input {
    width: 78%;
    font-size: 15px;
  }

  .logo-input {
    height: 8em;
    width: 84%;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
}
.form-group img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.form-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: auto;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: auto;
  min-width: 500px;
}

.form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 15px 0 15px;
  margin-top: 15px;
}
.form-button button {
  width: 100%;
}

#form-container-outer {
  width: 80%;
  min-width: 250px;
  height: auto;
}

#form-container-inner {
  width: 100%;
  margin: 0;
}
#form-container-inner input {
  width: 100%;
}

.edit-nav-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.edit-nav-link a {
  width: 6em;
}

/*! Pushy - v1.4.0 - 2020-12-28
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #20283e;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy a {
  display: block;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
}
.pushy a:hover {
  color: #20283e;
}
.pushy ul:first-child {
  margin-top: 10px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

/* Menu Movement */
.pushy-left {
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  transform: translate3d(200px, 0, 0);
}

.pushy-right {
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}
.pushy-submenu > ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.pushy-submenu > ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu button {
  width: 100%;
  color: #b3b3b1;
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0;
}
.pushy-submenu button:hover {
  color: #FFF;
}
.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}
.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: "";
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed > ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open > ul {
  max-height: 1000px;
  visibility: visible;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open > a::after,
.pushy-submenu-open > button::after {
  transform: translateY(-50%) rotate(90deg);
}
